/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600;900&family=Lato:ital,wght@0,100;0,400;1,100;1,300&family=Libre+Franklin:ital@1&family=Playpen+Sans:wght@600&family=Roboto:wght@500&display=swap');


/* Asterisk wildcard selector to override default styles added by browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #4D5656;
    font-family: 'Gabarito', lato;

}

/* Header*/
header {
    background-color: #4D5656;
    padding: 0 2rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #F1C40F;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
header a {
    text-decoration: none;
    color: 1px solid #F1C40F;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #dab31b;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 60px;
}
#menu {
  font-size: 110%;
  letter-spacing: 2px;
  list-style-type: none;

}
#menu > li {
    margin-bottom: 1em;
    border-bottom: 2mm ridge rgba(211, 220, 50, .6);
    
}

/* Navbar styles with droppdown toggle*/
nav {
    position: absolute;
    background-color: #4D5656;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
#nav-toggle {
    display: none;
    
}
.nav-toggle {
    font-size: 2rem;
    
}


/* Main Content*/
main {
    background-color: rgb(195, 195, 218);
    /* Make main element take up surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 60px;
    background-color: #b7c7c7;
        < !DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1.0" />< !-- Meta tags for search engin --><meta name="description" content=" SALA 400 becomes YEAR"><meta name="keywords" content=" sala, sweden, silvergråvan, travel, visit,">< !-- Title --><title>Sala 400 Years</title>< !-- Stylesheet--><link rel="stylesheet" href="assets/style.css"></head><body>< !-- Header --><header><a href="index.html"><h1 id="logo">SALA 400 </h1></a><input type="checkbox" name="nav-toggle" id="nav-toggle"><label for="nav-toggle" class="nav-toggle-label"><i class="fa-solid fa-bars"></i></label><nav><ul id="menu"><li><a href="">Home</a></li><li><a href="gallery.html">Gallery</a></li><li><a href="sala400.html">400Years</a></li><li><a href="contactus.html">contact us</a></li></ul></nav></header>< !-- Main Content --><main>Main</main>< !-- Footer --><footer><ul><li><a href="http://www.facebook.com" target="_blank" rel="noopener"
            aria-label="Visit our Facebbok page (open in a new tab)"><i class="fa-brands fa-square-facebook"></i></a></li><li><a href="https://www.twitter.com/" target="_blank" rel="noopener"
            aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa-brands fa-twitter-square"></i></a></li><li><a href="https://www.youtube.com/" target="_blank" rel="noopener"
            aria-label="Visit our YouTube page (opens in a new tab)"><i class="fa-brands fa-youtube-square"></i></a></li><li><a href="https://www.instagram.com/" target="_blank" rel="noopener"
            aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-square-instagram"></i></a></li></ul><p class="copy">copyright © Basel Hussein 2023 . all right reserved</p><p class="code"><a href="https://codeinstitute.net/" target="_blank" aria-label="project for Code Institute">Code Institute</a></p></footer>< !-- Font Awesome kit --><script src="https://kit.fontawesome.com/3b20d96fa9.js" crossorigin="anonymous"></script></body></html>
    
}

/* Footer */
footer {
    background-color: #4a5a5a;
    color: #F1C40F;
    text-align: center;
    text-transform:capitalize;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    
}
footer > ul {
    list-style-type: none;
    
    
}





/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding: 1rem;
        border-bottom: none;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5;
    }
    /*  Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 95px;
    }


}

/* Media query: tablets and larger (992px and up) */
@media screen and ( min-width: 992px  ) {
    
    #menu a:hover {
            border-style: ridge;
            color: #eeece8;
        }




}